.title {
  color: rgb(39, 138, 177);
}

.link{
  color: #1C0F13;
}

.Card {
  margin-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.actions {
  margin-top: 1rem;
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: rgb(39, 138, 177);
  color: white;
  padding: 0.5rem 1.5rem;
  border: 1px solid #000000;
  border-radius: 4px;
  font-weight: bold;
}

.actions button:hover,
.actions button:active {
  background-color: rgb(46, 158, 202);
  border-color: #000000;
}
